---
layout: base-layout.njk
title: Home | Cooper Hollmaier
desc: Digital marketing consultant, speaker, educator, and advocate for inclusivity. Developing digital products that are fast, sustainable, and accessible for all. 
canonical: https://cooperhollmaier.com
pagination:
  data: collections.post
  size: 3
  reverse: true
  alias: posts
---
<section>
  <p>Hi, I'm <h1>Cooper Hollmaier</h1>. I have a passion for developing digital products that are fast, sustainable, and accessible for all.</p>
</section>
<section>
  <h2>Current projects</h2>
    <p>I support technical search engine optimization (SEO) at a large specialty outdoor retailer. When I'm not working, you'll find me writing articles, giving talks, tinkering with code, and getting outside.</p>
</section>
<section>
  <h2>Writing</h2>
    <p>I often write down my thoughts about remote work, accessibility, SEO, and software engineering.</p>
  {% for post in posts %}<article>
    <h3>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h3>
  </article>{% endfor %}
</section>

<h2>Talks</h2>
  <p>I've spoken at a number of events in the past about technical SEO, content marketing, and digital marketing.</p>
</section>
</div>