---
layout: base-layout.njk
title: Home | Cooper Hollmaier
desc: Digital marketing consultant, speaker, educator, and advocate for inclusivity. Developing digital products that are fast, sustainable, and accessible for all. 
canonical: https://cooperhollmaier.com
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---
{% for post in posts %}
  <article>
    <h1>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h1>
    <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
  </article>
{% endfor %}