---
layout: base-layout.njk
tags: ["page"]
title: Home
hero: /assets/img/cooper-hollmaier.jpeg
type: website
desc: Digital marketing consultant, speaker, educator, and advocate for inclusivity. Developing digital products that are fast, sustainable, and accessible by default. 
canonical: https://cooperhollmaier.com
---
<img class="index__img" alt="profile photo" src="{{env.base.site}}/assets/img/cooper-hollmaier.jpeg"/>
<p class="index__intro">Hi, I'm Cooper Hollmaier. I have a passion for developing digital products that are fast, sustainable, and accessible by default.</p>
<h2> Current Projects</h2>
<p>I support technical search engine optimization (SEO) at a large specialty outdoor retailer. When I'm not working, you'll find me <a href="/writing">writing</a>, giving <a href="/talks">talks</a>, tinkering with code, and getting outside.</p>
<h2>Articles</h2>
<p>I often write down my thoughts about remote work, accessibility, SEO, and software engineering. My <a href="https://www.a11yproject.com/posts/2021-07-02-accessibility-seo/">most recent article</a> was on Accessibility and SEO for <a href="https://www.a11yproject.com/"> The A11y Project</a>, a community-driven effort to make digital accessibility easier.</p>
<h2>Talks</h2>
<p>I've spoken at a number of events in the past about technical SEO, digital accessibility, content marketing, and digital marketing. Recently, I had the great pleasure of appearing on Moz's Whiteboard Friday in a<a href="https://moz.com/blog/seo-and-accessibility-introduction"> 3-part series on accessibility.</a></p>
<p>If you'd like to hire me for your event, please check out my <a href="/talks">speaker rider</a> first.</p>
       