---
layout: false
ignore: true
permalink: sitemap-talks.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{# {{ collections.all | log }} #}
{%- for item in collections.talk %}
  {% if not item.data.ignore %}
    <url>
      <loc> {{env.base.site}}{{ item.url | replace('.html', '') }}</loc>
      <lastmod>{{ item.date | dateIso }}</lastmod>
    </url>
  {% endif %}
{%- endfor %}
</urlset> 