---
layout: false
ignore: true
permalink: sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
   <sitemap>
      <loc>{{env.base.site}}/sitemap-pages.xml</loc>
      <lastmod>{{ item.date | dateIso }}</lastmod>
   </sitemap>
   <sitemap>
      <loc>{{env.base.site}}/sitemap-posts.xml</loc>
      <lastmod>{{ item.date | dateIso }}</lastmod>
   </sitemap>
     <sitemap>
      <loc>{{env.base.site}}/sitemap-talks.xml</loc>
      <lastmod>{{ item.date | dateIso }}</lastmod>
   </sitemap>

</sitemapindex>

