<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  {% if ignore %}<meta name="robots" content="noindex"/>{% endif %}
  <title>{{ title }} | Cooper Hollmaier</title>
  <meta name="description" content="{{ desc }}">
  <link rel="canonical" href="{{ canonical }}">
  <meta name="author" content="Cooper Hollmaier">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ desc }}">
  <meta property="og:type" content="{{ type }}">
  <meta property="og:image" content="{{env.base.site}}{{ hero }}"/>
  <meta property="og:locale" content="en_US" />
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ desc }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@CooperHollmaier">
  <meta name="twitter:url" content="{{ canonical }}">
  <meta name="twitter:image" content="{{env.base.site}}{{ hero }}">
  <meta name="twitter:creator" content="@CooperHollmaier">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/ico/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/ico/favicon-16x16.png">
  <link rel="manifest" href="assets/ico/site.webmanifest">
</head> 
<body>        
<a class="skip-to-content-link" href="#main-content" rel="nofollow">Skip to main content</a>  
  <nav>
  <ul role="list">
        <li><a href="/">Cooper Hollmaier</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/talks/">Talks</a></li>
        <li><a href="/writing/">Writing</a></li>
      </nav> 
      </ul>

    <main id="main-content"> 
     {{ content | safe }}
    </main> 
    <footer class="footer">   
      <div class="footer__statements">
        <a href="/privacy/">Privacy</a>
        <a href="/accessibility/">Accessibility</a>
      </div>
       <div class="footer__legal">
        &copy;
        <script type="text/javascript">
        document.write(new Date().getFullYear());
        </script>
        Cooper Hollmaier
      </div>
    </footer> 
  </div>
</body> 
</html>