<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  {% if ignore %}<meta name="robots" content="noindex"/>{% endif %}
  <title>{{ title }}</title>
  <meta name="description" content="{{ desc }}">
  <link rel="canonical" href="{{ canonical }}">
  <meta name="author" content="Cooper Hollmaier">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ desc }}">
  <meta property="og:type" content="{{ type }}">
  <meta property="og:image" content="{{ hero }}"/>
  <meta property="og:locale" content="en_US" />
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ desc }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@CooperHollmaier">
  <meta name="twitter:url" content="{{ canonical }}">
  <meta name="twitter:image" content="{{ hero }}">
  <meta name="twitter:creator" content="@CooperHollmaier">
  <link rel="stylesheet" href="\css\reset.css">
  <link rel="stylesheet" href="\css\styles.css">
</head> 
<body>
  <div class="container">
    <header> 
      <div class="logo">
      <a href="/">CH</a>
      </div>
      <nav>
        <a class="sr-only" href="#main-content">Skip to main content</a>
        <a href="/about/">About</a>
        <a href="/contact/">Contact</a>
        <a href="/talks/">Talks</a>
        <a href="/writing/">Writing</a>
      </nav> 
      </header>
    <main id="main-content"> 
     {{ content | safe }}
    </main> 
    <footer class="footer">
      <div class="footer__social">
        <a href="https://twitter.com/CooperHollmaier"><img class="icon" src="/assets/img/twitter.svg" height="24" width="24"/></a>
        <a href="https://github.com/chollma"> <img class="icon" src="/assets/img/github.svg" height="24" width="24"/></a>
        <a href="https://dev.to/chollma"><img class="icon" src="/assets/img/dev-dot-to.svg" height="24" width="24"/></a>
      </div>
     
      <div class="footer__statements">
        <a href="/privacy/">Privacy</a>
        <a href="/accessibility/">Accessibility</a>
      </div>
       <div class="footer__legal">
        <p>&copy; 2021 Cooper Hollmaier</p>
      </div>
    </footer> 
  </div>
   <script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
</body> 
</html>