---
layout: base-layout.njk
---
 <article>
 <h1 class="post__title">{{ title}}</h1>
 <span class="post__date">Published <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time> </span>
 <img class="hero" alt="{{ alt }}" src="{{ hero }}">
 <span class="hero__caption">Credit: {{ credit }}</span>
 {{ content | safe }}
 </article>  


{% set absoluteUrl = env.base.site + (page.url | replace('.html', '')) %}
<script type="application/ld+json">
 {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ absoluteUrl }}"
    },
      "headline": "{{ title }}",
      "image": [
        "https://cooperhollmaier.com{{ hero }}"
       ],
      "datePublished": "{{ date }}",
      "dateModified": "{{ date }}",
      "author": {
        "@type": "Person",
        "name": "Cooper Hollmaier"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Cooper Hollmaier",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ env.base.img }}cooper-hollmaier.jpeg"
        }
      }
    }
</script>