---
layout: base-layout.njk
---
 <h1 class="post__title">{{ title}}</h1>
  <span class="post__date">Published <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time></span>

 {{ content | safe }}
 <span class="hero__caption">Credit: {{ credit }}</span>
